name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: |
          pip install build

      - name: Build package
        run: |
          python -m build

      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*

      - uses: softprops/action-gh-release@v2
        with:
          files: |
            lru_cache.py
            dist/*
          prerelease: true
